.paper {
  display: flex;
  flex-direction: column;
  flex-wrap: "wrap";
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 350px;
  min-height: 300px;
  border-radius: 4px;
  text-align: "center";
  transition: box-shadow 1s;
  transition-timing-function: ease-in;
  /*Horizontal Vertical Blur Size Color*/
  box-shadow: 0px 0px 2px 0.5px #cecece;
  padding: 10px;
}

.paper:hover {
  box-shadow: 0px 0px 10px 1px #000;
}

.fadeout {
  opacity: 0;
  max-height: 0;
}
.fadein {
  opacity: 1;
  max-height: 500px;
  transition: max-height 3s ease-in, opacity 0.2s ease-in 1.5s;
}
